{% extends 'utilities/layout.jinja2' %} {% block custom_css %} {% endblock %} {%
block content %}
<section class="section">
  <div class="box"></div>
</section>

{% endblock %} {% block custom_js %} {% endblock %}
